<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.critticalapps.need2park">
	<uses-sdk android:minSdkVersion="16" />
	<permission android:name="com.critticalapps.need2park.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Allow the application to access Google web-based services. -->
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<!-- Google Maps for Android v2 requires OpenGL ES v2 -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />

	<application android:allowBackup="true" android:icon="@mipmap/ikoon" android:label="@string/app_name">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAoIpn2dt91CAPiHkLaRt6EXAd5GJrlemw" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>